.navbar {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;

}

.navbar img {
    max-width: 10rem;
    height: auto;

}

.liste1 {
    width: 50%;
    height: 42px;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.liste1 li:hover {
    background-color: #b29661;
}

header {
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

a {
    text-decoration: none;
}


.haut {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 70px;

}

.haut img {
    width: 35%;
}

.description {
    width: 25%;
}

.etoiles img {
    width: 7%;
}

.description h2 {
    color: #A18A68;
}

.Ajouter {
    width: 70%;
    height: 10%;
    background-color: #E3E3E3;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rectan1 {
    display: flex;
    align-items: center;
}

.rectan1 img {
    width: 20%;
    margin-left: 1.5rem;
}

.rectan1 a {
    font-size: 20px;
    margin-left: 1.5rem;
}

.comment {
    width: 35%;
    display: flex;
    justify-content: center;
    margin-left: 320px;
    margin-bottom: 20px;

}

.comment img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: 10px;
}

.comment p {
    font-size: 15px;
}

.comment a {
    font-size: 15px;
    margin-left: -0.1rem;
    margin-top: 5rem;
    color: #d59330;
}

.titreS3 {
    width: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 60px;

}

.autres {
    width: 100%;
}

.images3 {
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-left: 160px;
    gap: 10px;
}

.images3 img {
    border-radius: 1rem;
}

.titres {
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin-left: 160px;

}

.rectan3 {
    width: 12%;
    display: flex;
    justify-content: center;
    background-color: #E3E3E3;
    border-radius: 0.5rem;
    margin-left: 900px;
    margin-top: 140px;
}

.rectan3 a {
    font-size: 40px;
    color: #d59330;
}

.footer1 {
    display: flex;
    justify-content: space-between;
}

.footer2 {
    width: 50%;
}

.line5 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
}

.liste3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;


}

.line9 {
    width: 396px;
    height: 0.5px;
    display: flex;
    align-content: space-evenly;
}


.gmail {
    display: flex;
    justify-content: space-between;
}

.gmail a {
    align-self: center;
}

.liste4 {
    width: 10%;
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.icones {
    width: 95%;
    display: flex;
    justify-content: flex-end;

}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media screen and (max-width:426px) {
    .toggle-button {
        display: flex;
    }

    .liste1 {
        display: none;
    }
    .navbar {
        display: flex;
      
        
    }
      .header {
        display: flex;
        justify-content: space-between;
      }
    .description p {
        font-size: 20px;
    }

    .haut {
        display: flex;
        flex-direction: column;
    }
    .haut img {
        width: 150%;
        margin: auto;
        margin-left: 200px;
    }
    .description {
        width: 100%;
    }

    .description h1 {
        width: 100%;
        margin: auto;
        font-size: 50px;
        margin-top: -40px;
        margin-left: 300px;
    }
    .description p {
        width: 150%;
        margin: auto;
        font-size: 40px;
        margin-top: 40px;
        margin-left: 150px;
    }
    .description h2 {
        width: 100%;
        margin: auto;
        font-size: 60px;
        margin-top: 60px;
        margin-left: 200px;
    }
   .etoiles {
        width: 30%;
        margin-left: 0px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        margin-left: 70px;
    }
    .haut .etoiles img {
        margin: auto;
        margin-left: 0px;
    }
}