.parent {
    width: 1248px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.liste1 {
    width: 624px;
    height: 42px;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.liste1 li:hover{
    background-color: #b29661;
}
header {
    margin-left: 10%;
}
a {
    text-decoration: none;
}
.image1 {
    width: 600px;
    height: 600px;
    margin: 10%;
    position: absolute;
    top: 80px;
}

.titre1 {
    width: 801;
    height: 231;
    position: absolute;
    right: 400px;
    top: 205px;
}

.para1 {
    width: 400px;
    height: 100px;
    margin-left: 43%;
    position: absolute;
    right: 300px;
    top: 350px;
}

.prix {
    color: #A18A68;
    position: absolute;
    right: 600px;
    top: 600px;
}

.rectan1 {
    width: 200px;
    height: 50px;
    background-color: #E3E3E3;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    position: absolute;
    right: 450px;
    top: 770px;
}

.rectan2 {
    width: 40px;
    height: 50px;
    background-color: #CBC8C8;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    position: absolute;
    right: 410px;
    top: 770px;
}

.vector1 {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 605px;
    top: 778px;
}

.button {
    position: absolute;
    color: rgb(6, 6, 6);
    text-decoration: none;
    padding: 15px 32px;
    font-size: 20px;
    top: 770px;
    right: 425px;
}

.line1 {
    width: 40px;
    position: absolute;
    right: 410px;
    top: 795px;
}

.plus {
    font-weight: 200px;
    color: black;
    text-decoration: none;
    position: absolute;
    right: 427px;
    top: 775px;
}

.moin {
    font-weight: 200px;
    color: black;
    text-decoration: none;
    position: absolute;
    right: 427px;
    top: 797px;
}

.etoil1 {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 1270px;
    top: 850px;
}

.etoil2 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 850px;
    right: 1190px;
}

.etoil3 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 850px;
    right: 1110px;
}

.etoil4 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 850px;
    right: 1030px;
}

.etoil5 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 850px;
    right: 950px;
}

.commantaire {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1000px;
    right: 1200px;
}

.comnt {
    position: absolute;
    top: 1020px;
    right: 750px;
}

.ajouter {
    position: absolute;
    top: 1070px;
    right: 685px;
}

.titreS3 h3 {
    position: absolute;
    font-size: 33px;
    color: black;
    top: 1200px;
    right: 1040px;
}

.toph1 {
    width: 300px;
    height: 300px;
    margin: 10%;
    position: absolute;
    top: 1150px;
    right:920px;
}

.toph2 {
    width: 300px;
    height: 300px;
    margin: 10%;
    position: absolute;
    top: 1150px;
    right: 590px;
}

.toph3 {
    width: 300px;
    height: 300px;
    margin: 10%;
    position: absolute;
    top: 1150px;
    right: 275px;
}

.p1 {
    margin: 10%;
    position: absolute;
    top: 1450px;
    right: 1010px;
}

.p2 {
    position: absolute;
    top: 1600px;
    right: 850px;
}

.p3 {
    position: absolute;
    top: 1600px;
    right: 550px;
}

.rectan3 {
    width: 200px;
    height: 50px;
    background-color: #E3E3E3;
    border-radius: 10%;
    position: absolute;
    right: 400px;
    top: 1750px;
}

.check {
    position: absolute;
    color: rgb(6, 6, 6);
    text-decoration: none;
    padding: 15px 32px;
    font-size: 20px;
    right: 430px;
    top: 1750px;
}

.line {
    width: 1248px;
    text-align: center;
    position: absolute;
    top: 2000px;
    left: 140px;
}

.liste3 {
    width: 624px;
    margin: 0%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    position: absolute;
    top: 2070px;
    left: 140px;
}

.line2 {
    width: 396px;
    position: absolute;
    top: 2070px;
    right: 140px;
}

.para {
    position: absolute;
    top: 2025px;
    right: 320px;
}

.liste4 {
    width: 156px;
    height: 42px;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    top: 2080px;
    right: 140px;
}

.flesh {
    position: absolute;
    top: 2040px;
    right: 150px;
}